div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

p {
    font-size: 24px;
    color: #747474;
}

button {
  margin: 0.5rem 0; 
}

.arrow {
  
}
  