.waiting-room {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .players-table {
    margin-bottom: 20px;
    flex: 1;
  }
  
  .button-field {
    width: 5rem;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    width: 100%;
    height: 60%;
  }
  
  .button:hover {
    background-color: #0077ff;
  }

  .ready {
    color: #4caf50;
    font-weight: bold;
  }

  .not-ready {
    color: #f44336;
    font-weight: bold;
  }