<div class="waiting-room">

    <div class="button-field">
        <div *ngIf="!player.isPlayerReady; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <button mat-raised-button class="button" color="primary" (click)="setReady()">READY</button>
        </ng-template>
        <ng-template #elseBlock>
            <button mat-raised-button class="button" color="warn" (click)="setNotReady()">NOT READY</button>
        </ng-template>

        <button mat-raised-button class="us-button" color="primary" (click)="goToAddUS()">Add a user story</button>
    </div>

    <table mat-table [dataSource]="currentPlayers" class="mat-elevation-z8 players-table">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let player"> {{player.name}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let player">
                <div *ngIf="player.isPlayerReady; then thenBlock else elseBlock"></div>
                <ng-template  #thenBlock><p class="ready">Ready</p></ng-template>
                <ng-template #elseBlock><p class="not-ready">Not ready</p></ng-template>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
