<div class="container">
  <button class="back-button" mat-raised-button color="primary" (click)="goToWaitingRoom()">Go back to waiting room</button>
  <mat-card>
    <mat-card-title class="text">
      Enter a new user story :
    </mat-card-title>
    <form (submit)="postUserStory()">
      <mat-form-field>
        <mat-label>
          User Story
        </mat-label>
        <input matInput [formControl]="inputFormControl">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Create</button>
    </form>
  </mat-card>
</div>

<h3 class="list-title">Current user stories</h3>

<div class="user-stories-list">
  <mat-card class="user-story"*ngFor="let userStory of userStories">
    <mat-card-title>
      {{userStory.description}}
    </mat-card-title>
  </mat-card>
</div>
