<div class="login">

  <div *ngIf="!isRegister; else elseBlock">
    <form class="form" [formGroup]="formGroup" (submit)="signIn()">
      <p class="title">Sign in</p>

      <div class="username">
        <p class="sub-title">Username</p>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput [formControl]="nameControl">
        </mat-form-field>
      </div>
      <div class="password">
        <p class="sub-title">Password</p>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [formControl]="passwordControl" type="password">
        </mat-form-field>
      </div>

      <div class="button-section">
        <button mat-raised-button class="button-login" color="primary" appeareace="fill" type="submit">
          Login
        </button>
        <button mat-button class="button-register" color="primary" appeareace="fill" type="button"
          (click)="isRegister = true">
          Don't have an account? Register now
        </button>
      </div>
    </form>
  </div>

  <ng-template #elseBlock>
    <form class="form" [formGroup]="formGroup" (submit)="register()">
      <p class="title">Register</p>

      <div class="username">
        <p class="sub-title">Username</p>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput [formControl]="nameControl">
        </mat-form-field>
      </div>
      <div class="password">
        <p class="sub-title">Password</p>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [formControl]="passwordControl" type="password">
        </mat-form-field>
      </div>

      <div class="button-section">
        <button mat-raised-button class="button-login" color="primary" appeareace="fill" type="submit">
          Register
        </button>
        <button mat-button class="button-register" color="primary" appeareace="fill" type="button"
          (click)="isRegister = false">
          Already have an account ? Sign in
        </button>
      </div>
    </form>
  </ng-template>
</div>