form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%
  }

  p {
    font-size: 200%;
    color: #747474;
    margin-bottom: 1.5rem;
  }
  
  .mat-form-field {
    width: 100%;
    max-width: 20rem;
    justify-content: space-between;
  }
  
  .button {
    margin-top: 0rem;
    font-size: 1.1rem;
    width: 10rem;
  }

  .button:hover {
    background-color: #2188ff;
    transition: 0.3s;
  }
  