.terms {
    margin: 0 10%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
    ul {
        margin: 10px;
    }
    li {
        margin-bottom: 10px;
    }
}